{% extends "base.html.jinja" %}
{% block content %}
    <div class="container px-4 py-5" id="hanging-icons">
      <h2 class="pb-2 border-bottom">Witaj na Weather Scraperze!</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
              <i class="bi bi-cloud-download-fill" style="font-size: 30px;"></i>
          </div>
          <div>
            <h2>Pobierz dane</h2>
            <p>Jeśli nie pobrałeś jeszcze danych pogodowych lub chcesz pobrać dane pogodowe nowego miasta wystarczy kliknąć poniżej, by móc się wieszyć najnowyszymi danymi na kolejne 4 dni &#129312;</p>
            <a href="{{url_for('extract')}}" class="btn btn-primary">
              Kliknij tutaj
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <i class="bi bi-list-stars" style="font-size: 30px;"></i>
          </div>
          <div>
            <h2>Lista lokalizacji</h2>
            <p>Gdy już pobrałeś interesujące cię dane wystarczy kliknąć w przycisk poniżej by powrócić do wcześniej pobranych danych oraz móc analizować statystyki &#129299;</p>
            <a href="{{url_for('locations')}}" class="btn btn-primary">
              Kliknij tutaj
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <i class="bi bi-person-circle" style="font-size: 30px;"></i>
          </div>
          <div>
            <h2>O autorze</h2>
            <p>Po tym jak już nacieszyłeś się tymi wszystkimi danymi może zechcesz przejść do zakładki przedstawiającej cel tego projektu oraz moją osobę &#128519;</p>
            <a href="{{url_for('author')}}" class="btn btn-primary">
              Kliknij tutaj
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}